@model StationeryStoreSystem.Models.NewOrder
@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h3 >Create Order Page</h3>
@using (Html.BeginForm(null,null,FormMethod.Post,new { id="myForm"}) )
{
  <div class="container">
      <div class="row">
          
          <div class="col-lg-8">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Attributes</th>
                          <th scope="col">Value</th>

                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">UserID</th>
                          <td>@Html.TextBoxFor(m => m.UserID, new { @class = "form-control", @id = "userid" })</td>
                      </tr>

                      <tr>
                          <th scope="row">UserName</th>
                          <td>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "username" })</td>
                      </tr>
                      <tr>
                          <th scope="row">ItemName</th>
                          <td>@Html.TextBoxFor(m => m.ItemName, new { @class = "form-control", @id = "itemname" })</td>
                      </tr>
                      <tr>
                          <th scope="row">PricePerItem</th>
                          <td>@Html.TextBoxFor(m => m.PricePerItem, new { @class = "form-control", @id = "price" })</td>
                      </tr>
                      <tr>
                          <th scope="row">Quantity</th>
                          <td>@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @id = "quantity" })</td>
                      </tr>

                  </tbody>
              </table>
          </div>
          <div class="col-lg-4">
              <div class="card">
                  <h5 class="card-header">Error Message</h5>
                  <div class="card-body">
                      <h5 id="userid1" style="color:red"></h5>
                      <h5 id="username1" style="color:red"></h5>
                      <h5 id="itemname1" style="color:red"></h5>
                      <h5 id="price1" style="color:red"></h5>
                      <h5 id="qty" style="color:red"></h5>
                      <h5 id="message" style="color:red">@ViewBag.message</h5>

                  </div>
              </div>
              <p id="qty" style="color:red"></p>
          </div>
      </div>
      
    <div class="row"><button type="button" class="btn btn-primary mr-3" id="add" onclick="validateForm(); validationNum()">Create Order</button>
        <button id="btnAdd"  class="btn btn-primary" >Add Api</button>  </div>
   </div>
        
           Html.RenderPartial("Quote");
        
    }
<script type="text/javascript">
    function validateForm() {
        var x = document.getElementById("quantity").value;
        var y = document.getElementById("userid").value;
        var z = document.getElementById("username").value;
        var a = document.getElementById("itemname").value;
        var b = document.getElementById("price").value;
        var text, text1, text2, text3, text4;
        if (x == "") {
            text = "Please enter the quantity";
            document.getElementById("qty").innerHTML = text;
        }
        if (y == "") {
            text1 = "Please enter the userid";
            document.getElementById("userid1").innerHTML = text1;
        }
        if (x == "") {
            text2 = "Please enter the UserName";
            document.getElementById("username1").innerHTML = text2;
        }
        if (y == "") {
            text3 = "Please enter the ItemName";
            document.getElementById("itemname1").innerHTML = text3;
        }
        if (y == "") {
            text4 = "Please enter the price";
            document.getElementById("price1").innerHTML = text4;
        }
        if (x != "" && y != "" && z != "" && a != "" && b != "") {
            alert("Add successfully");
            $("#myForm").submit();
        }
    }



    $("#btnAdd").click(function (e) {
        e.preventDefault();
        var NewOrder = {
            "UserID": $("#userid").val(),
            "UserName": $("#username").val(),
            "ItemName": $("#itemname").val(),
            "PricePerItem": $("#price").val(),
            "Quantity": $("#quantity").val()
        };
      
        $.ajax({
            type: "POST",
            url: 'http://localhost:55976/api/Test/InsertOrder/{neworder}',
            data: JSON.stringify(NewOrder),
            contentType: "application/json;charset=utf-8",
            processData: true,
            success: function (data, status, xhr) {
                alert("Add sucessfully!");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
</script>